<%- layout("/layouts/boilerplate") -%> 

  <h1 style="text-align: center;">Search Results</h1>

  

<!-- Display search results -->
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1" id="listings-container">

  <% listings.forEach((listing) => { %>
    <% if (listing.title.toLowerCase().includes(query.toLowerCase())) { %>
     
        <a href="/listings/<%=listing._id %>" style="text-decoration: none;">
          <div class="card listing-card" data-price="<%= listing.price %>">
            <img src="<%=listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;"> 
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b><%=listing.title %></b><br>  
                &#8377; <%= parseFloat(listing.price).toLocaleString("en-IN") %> / night
              </p>
            </div>
          </div>
          <br>
        </a>
      
    <% } %>
  <% }); %>

</div>

